<!DOCTYPE html>

<html>
    <head>
        <title>Node.js express mongoDB CRUD</title>
        <div>
            <li>Icon left out.</li>
            <li>Icon left out.</li>
        </div>
    </head>
    <body class="bg-info">
        <div class="row">
            <div class="col-md-6 offset-md-3" style="background-color: #fff;margin-top: 25px;padding:20px;"></div>
            {{{body}}}
        </div>
    </body>
</html>